# Virtual environment
venv/
.env
# -------------------------
# Editor / OS
# -------------------------
.vscode/
# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd